.header__container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 100;
}
.header__container > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 15px;
  box-shadow: 3px 4px 4px 1px #eee;
}
.header__container a {
  text-decoration: none;
  font-weight: 700;
  color: var(--secondary-color);
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
  transition: color 0.5s, border 0.5s;
}
.header__container a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.header__container .link_active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
