@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
:root {
  --primary-color: #da0016;
  --secondary-color: #7e7e7e;
}

.wrapper {
  margin-top: 40px;
  padding-top: 40px;
}

.no_users {
  text-align: center;
  transform: translateY(100%);
}
.no_users > i {
  font-size: 40px;
}
.no_users > h6 {
  margin-top: 15px;
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
}
.lottie__container {
  max-height: 90vh;
}

.alert__success > div {
  background-color: #198754;
  color: #fff;
}
.alert__danger > div {
  background-color: #dc3545;
  color: #fff;
  font-weight: 700;
}
